*{
    margin: 0;
    padding: 0;
}
h2{
    font-size: 2.5rem;
    margin: 5px auto 5px;
}
:root{
    --corbody:rgb(92, 238, 79);
    --cortexto: rgb(0, 0, 0);
    --cortexto2:rgb(233, 233, 233);
    --cornav:  rgb(78, 78, 78);
    --corfundo:rgb(233, 233, 233);
    --corbotao1:rgb(100, 255, 100);
    --corbotao2:rgb(0, 184, 0);
}
body{
    width: 100vw;
    background-color: var(--corbody);
}
/*atalhos*/
.row{
    display: flex;
    flex-direction: row;
}

/*navbar*/
.navbar {
    width: 100vw;
    display: flex;
    align-items: center;
    background-color:  var(--cornav);
    color:var(--cortexto2);
    padding: 15px;
    margin-bottom: 2%;
}

.navbar h1 {
    position: relative;
    left: 10%;
    margin-right: auto;
}
.navbar ul{
    display: flex;
    flex-direction: row;
    position: relative;
    right: 30%;
    gap: 15px;
    list-style: none;
}
.navbar a {
    color: var(--cortexto2);
}
a{
    text-align: center;
    text-decoration: none;
    color: var(--cortexto);
}
.navbar h1:hover, .navbar li:hover{
   opacity: 0.5;
   cursor: pointer;
   border-bottom: solid 2px var(--cortexto2);
}


/*artigos*/
section{
    margin: 7px 10% 7px 10%;
}
section div{
    display: flex;
    justify-content: center;
}
img{
   width: 100%;
   aspect-ratio: 3/2;
}
  
div article {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    width: 25vw;
    padding: 15px;
    max-width: 350px;
    min-width: 200px;
    width: 30%;
    margin: 10px;
    margin-bottom: 5px;

    background-color: var(--corfundo);
    border-radius: 15px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.548);
}
  
section p{
    margin-bottom: 20px;
}

/*botão ler mais*/
.lermais{
    transition: all 0.3s;
    padding: 7px;
    width: 60px;
    border-radius: 5px;
    margin-top: auto;
    background-color: var(--corbotao1);
}
.lermais:hover{
    background-color: var(--corbotao2);
    color: var(--corfundo);
}



@media (max-width:850px) {
    .row{
        display: grid;
        place-items: center;
    }
    div article {
        width: 35vw;
    }
}